/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

 {
  box-sizing: border-box;
}

.container
{
    float: left;
  width: 25%;
     padding: 10px;
  height: 300px;
}

.row:  after {
  content: "";
  display: table;
   clear: both;
}